
    <div id="requirements">
      <h3> Program Requirements </h3>
      <ul>
        <li> Ruby v 2.0.0 or higher  </li>
        <li> Linux </li>
          <ul class="note">
            <li> Although a linux operating system is not a definite requirement, the program has only been used on linux based systems.
                 So, it is unknown how it will react with other operating systems.
            </li>
          </ul>
      </ul>
    <div>
    
    <div id="overview">
      <h3> Overview </h3>
    
      <p>
      This game has been written entirely in ruby.
      The tests have been written in Rspec, a testing framework also written in ruby.
      The program has been built largely with OOP in mind but several structures lend themselves to event-driven
      and procedural paradigms.
      It is strongly suggested that the 'User Guide' is looked at and that the game is played before looking over the documentation 
      </p> 
</div>
