
    <div id="requirements">
      <div class="page-header">
        <h3> Program Requirements </h3>
      </div>
      <ul>
        <li> Ruby v 2.0.0 or higher  </li>
        <li> Linux </li>
          <ul class="note">
            <li> Although a linux operating system is not a definite requirement, the program has only been used on linux based systems.
                 So, it is unknown how it will react with other operating systems.
            </li>
          </ul>
      </ul>
    <div>
    
    <div id="overview">
      <div class="container">
        <div class="row">
          <h3> Overview </h3>
            <p>
              In order to play this game you must have ruby installed and be able to access the command line.
              Download the folder that contains the game files and remember where you've put it!
              In your terminal, direct yourself into that folder.
            </p> 
            <div class="img-container well">
              <%= image_tag "command_line_game.png"%>
            </div>
            <p> Type in "ruby game.rb" to run the game! </p>
            <div class="img-container well">
              <%= image_tag "run.png" %>
            </div>
            <p> Then follow the on-screen instructions to start the game! </p>
            <div class="img-container well">
              <%= image_tag "begin.png" %>
            </div>
            <div class="img-container well">
              <%= image_tag "intro.png"%>
            </div>
        </div>
      </div>
    </div>
