<h3> Players </h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Player</h4>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <h5>is_dead? </h5>
        returns true if the instance of the player has health less than 0 
      
      <h5>is_alive?</h5>
        returns true if the instance of the player than health greater than 0 
      
      <h5>heal</h5>
         sets player health to full 
      
      <h5>add_health(value)</h5>
        Takes one argument: value. The value should be an integer.
        Adds the specified value to the player health and puts to the terminal if the 
        player is dead or is revived<
      
      <h5>take_damage(value)</h5>
        Takes one argument: value. The value should be an integer.
        Decreases the specified value to the player health and puts to the terminal if the player
        is dead or if they are revived. 
      <h5>player_description</h5>
        Prints to the terminal the player name and the current health of the player
      <h5>action_choice(weapon)</h5>
        Takes one argument: weapon.
           Weapon must be an instance of the ambush weapon 'waterbottle'.
           Will take player input to decide which action of the weapon to execute 
      <h5>tahlia?</h5>
        returns true if the current player is tahlia
      <h5>molly?</h5>
        returns true if the current player is molly
      <h5>select_weapon</h5>
        Allows the player to select a weapon for the ambush battle.
        Will print the players available actions to the terminal and return the weapon that 
        has the name that player inputs into the console
      <h5>select_an_item</h5>
        Allows the player to select an item. Will use player input into the console and search for it through
        the array of objecr instances in the item bag. Once found the item effect will be immediately executed on to the player. 
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>Molly</h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <span class="inherit"> inherits from 'Player'</span>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <h4>Tahlia</h4>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <span class="inherit"> inherits from 'Player' </span>
      </div>
    </div>
  </div>
  </div>
</div>

