<div class="page-header">
  <h3> Players </h3>
</div>
<div class="image-container well">
  <%= image_tag "players.png" %>
</div>
<p>You will chose a player before the beginning of every scene to help get you through.
   Each player has 75 health at the beginning of the game and weapons specific to them.
   Sometimes a scene can only be won with a specific player's action so watch out! </p>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>Molly</h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h5>Weapons</h5>
          <ul>
            <li>RUN</li>
            <li>PHONE</li>
            <li>SING</li>
            <li>MAP</li>
          </ul>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <h4>Tahlia</h4>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <h5>Weapons</h5>
          <ul>
            <li>RUN</li>
            <li>PHONE</li>
            <li>MELON</li>
            <li>COCONUT</li>
          </ul>
      </div>
    </div>
  </div>
  </div>
</div>

