<h3> ambush_weapon_bag </h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>ambush_weapon</h4>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h5>power_decrease(amount)</h5>
          Takes one argument: amount. This decreases the power of the weapon so that it can only be used a limited number of times.
        <h5>enough_power?</h5>
          returns true if power is greater than 0
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>bill_puppet</h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h5>random_attack</h5>
         runs a random attack method out of 'head_butt', 'kick', 'string_wrap'
          
        <h5>head_butt </h5>
         An attack method of the enemy 'Cath' which prints its name to the console and returns a random number out of a specifed set of values 
        
        <h5>kick</h5>
         See head_butt 
        
        <h5>string_wrap</h5>
         See head_butt
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <h4>waterbottle</h4> 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <h5>bottle_whip</h5>
          An attack method of the player which prints its name to the console and returns a random number from a specifed set of values
        <h5>splash</h5>
          See bottle_whip
        <h5>blast</h5>
          See bottle_whip
      </div>
    </div>
  </div>
<div>
