<h3>Enemy</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Enemy </h4>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h5>add_health(value)</h5>
          Takes one argument: value.
          Adds health to the current instance of the enemy object. Also prints to console if the enemy has died or has come back to life
        <h5>take_damage(value)</h5>
          Takes one argument: value.
          The value is currently extracted from the returned integer of an attack method by the opposing team.
          Takes health from the current instance of the enemy object by the value given  
        <h5>is_dead?</h5>
          returns true if instance of enemy has health less than 0<
        <h5>is_alive?</h5>
          returns true if instance of enemy has health greater than 0
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>Cath</h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <span class="inherit">Inherits from enemy</span>
      </div>
  </div>
</div>
