<div class="jumbotron">
  <h1>DofE Text Based Adventure</h1>
    <h2> User Guide </h2>
      <button class="btn btn-default"><a href="https://tech-docs.herokuapp.com/">Technical Documentation</a></button>

</div>
