<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav"> 
        <li><a href="/">Home</a></li>
        <li><a href="#">How to...</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Players<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/core-models/ambush-weapons">Molly</a> </li>
            <li><a href="/core-models/enemys">Tahlia</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Items<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='/initializers/game'>Eye Ointment</a></li>
            <li><a href='/initializers/game'>Pizza</a></li>
            <li><a href='/initializers/game'>Primula Cheese And Crackers</a></li>
            <li><a href='/initializers/game'>Socks</a></li>
            <li><a href='/initializers/game'>Toy Plane</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Scenes<span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">Ambush</a></li>
          <li><a href="#">Campsite</a></li>
          <li><a href="#">Cowfield</a></li>
          <li><a href="#">Death</a></li>
          <li><a href="#">Forest</a></li>
          <li><a href="#">Hill</a></li>
          <li><a href="#">Lake</a></li>
          <li><a href="#">Road</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav> 









