<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav"> 
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">How to...<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/core-managers/ambush-weapon-bag">ambush_weapon_bag</a></li>
            <li><a href="/core-managers/enemy-manager">enemy_manager</a></li>
            <li><a href="/core-managers/engine">engine</a></li>
            <li><a href="/core-managers/item-bag">item_bag</a></li>
            <li><a href="/core-managers/player-manager">player_manager</a></li>
            <li><a href="/core-managers/scene-manager">scene_manager</a></li>
            <li><a href="/core-managers/weapon-bag">weapon_bag</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Players<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/core-models/ambush-weapons">ambush_weapons</a> </li>
            <li><a href="/core-models/enemys">enemy</a></li>
            <li><a href="/core-models/items">items</a> </li> 
            <li><a href="/core-models/players">players</a></li>
            <li><a href="/core-models/scenes">scenes</a></li>
            <li><a href="/core-models/weapons">weapons</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Items<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='/initializers/game'>game.rb</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false">Scenes<span class="caret"></span></a>
          <ul class="dropdown-menu">
          </ul>
        </li>
      </ul>
    </div>
</nav> 

<!--<nav class="navbar navbar-default>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav> 
        <li><a href="">Home</a></li>
        <li class="dropdown">Core Managers</li>
          <ul class="dropdown-menu">
            <li><a href="/core-managers/ambush-weapon-bag">ambush_weapon_bag</a></li>
            <li><a href="/core-managers/enemy-manager">enemy_manager</a></li>
            <li><a href="/core-managers/engine">engine</a></li>
            <li><a href="/core-managers/item-bag">item_bag</a></li>
            <li><a href="/core-managers/player-manager">player_manager</a></li>
            <li><a href="/core-managers/scene-manager">scene_manager</a></li>
            <li><a href="/core-managers/weapon-bag">weapon_bag</a></li>
          </ul>
        <li>Core Models</li>
          <ul>
            <li><a href="/core-models/ambush-weapons">ambush_weapons</a> </li>
              <ul>
                <li>ambush_weapon</li>
                <li>bill_puppet</li>
                <li>waterbottle</li>
              </ul>
            <li><a href="/core-models/enemys">enemy</a></li>
              <ul>
                <li>cath</li>
                <li>enemy</li>
              </ul>
            <li><a href="/core-models/items">items</a> </li>
              <ul>
                <li>eye_ointment</li>
                <li>item</li>
                <li>pizza</li>
                <li>primula_cheese_and_crackers</li>
                <li>socks</li>
                <li>toy_plane</li>
              </ul>  
            <li><a href="/core-models/players">players</a></li>
              <ul>
                <li>player</li>
                <li>molly</li>
                <li>tahlia</li>
              </ul>
            <li><a href="/core-models/scenes">scenes</a></li>
              <ul>
                <li>ambush</li>
                <li>campsite</li>
                <li>cowfield</li>
                <li>death</li>
                <li>forest</li>
                <li>hill</li>
                <li>lake</li>
                <li>road</li>
                <li>scene</li>
              </ul>
            <li><a href="/core-models/weapons">weapons</a></li>
              <ul>
                <li>weapon</li>
                <li>map</li>
                <li>melon</li>
                <li>phone</li>
                <li>run</li>
                <li>sing</li>
                <li>coconut</li>
              </ul>
        <li><a href="/initializers/game">Initializers</a></li>
          <ul>
            <li>game.rb</li>
          </ul>
        <li>Specs</li>
      </ul>
    </div>
</nav> -->












